.woocommerce-order {
	&__heading {
		-webkit-text-stroke: 1px $black;
		-webkit-text-fill-color: $white;
	}

	&__subheading {
		font-family: $font-sans-headings;
		font-size: 24px;
	}

	&__contents {
		tbody {
			display: flex;
			flex-direction: column;
		}

		.order_item {
			width: 100%;
		}
	}

	table.table {
		th {
			line-height: 1.5;
		}

		td {
			border: 0;
		}

		img {
			width: 120px;

			@include media-breakpoint-up(md) {
				width: 160px;
			}
		}

		.product-thumbnail {
			display: flex;
			min-width: 120px;

			@include media-breakpoint-up(md) {
				width: 160px;
			}
		}

		.product-name {
			line-height: 1.25;
			font-family: $headings-font-family;
			font-size: 14px;

			a {
				color: $black;
			}

			@include media-breakpoint-up(md) {
				font-size: 16px;
			}
		}

		.product-price {
			@include media-breakpoint-up(md) {
				font-size: 18px;
			}
		}

		.product-total,
		.product-quantity {
			font-size: 14px;
		}

		.product-category {
			font-size: 12px;

			@include media-breakpoint-up(md) {
				font-size: 14px;
			}
		}

		.product-quantity .quantity {
			display: inline-block;
		}
	}

	.woocommerce-table__line-item {
		display: flex;
		border-bottom: 1px solid $gray-lighter;
	}

	&__details {
		display: flex;
		flex-direction: column;
	}

	.woocommerce-customer-details address {
		padding: 0;
		line-height: 24px;
		border: 0;
	}
}