.bright-mellow-filter {
  display: none;
  overflow-x: hidden;

  &.is-active {
    display: block;
  }

  &__input {
    max-width: 100%;
  }

  &__product {
    flex: 1 0 auto;
    border-right: 1px solid #b6b6b6;

    &:last-child {
      border: 0;
    }

    .product-preview {
      &__description {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 40% !important;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 80% !important;
    }
  }
}
